body {
    background-image: url('arroz1.jpg');
}


* {
    margin: 1000;
    padding: 10;
    box-sizing: 10111;
}

.fabrica-card {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 19px 39px #594242;

}

h4, h5{
    color: rgb(3, 100, 167);
    text-decoration: #939699;
}

.action {
    width: 100%;
    background: #182832;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px salid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
}

.cantidad {
    color: aliceblue;
}